<div class="question-card" style="margin-top: 30px;">
    <div *ngIf="question">
        <h2>{{ question?.title }}</h2>
        <p>Asked On: <b>{{ question?.createdDate | date: 'EEEE, MMMM d, y, HH:mm' }}</b> by <b>{{ question?.username }}</b></p>       
        <div class="vote-section">
            <div class="arrow-icon"
                (click)="addVoteToQuestion('UPVOTE')"
                [ngClass]="{'upvoted': question.voted == '1'}">
                <i class="material-icons">keyboard_arrow_up</i>
            </div>
            <div class="vote-count">{{ question.voteCount }}</div>
            <div class="arrow-icon"
                (click)="addVoteToQuestion('DOWNVOTE')"
                [ngClass]="{'downvoted': question.voted == '-1'}">
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>
        <div class="question-body">
            <p>Body: {{ question?.body }}</p>
            <div class="images-preview" *ngIf="question.convertedImgs">
                <img *ngFor="let img of question.convertedImgs" [src]="img" alt="Question Image">
            </div>
            <div class="tag-list">
                <mat-chip-listbox>
                    <mat-chip *ngFor="let tag of question?.tags" color="primary">{{ tag }}</mat-chip>
                </mat-chip-listbox>
            </div>
            <div class="comment-section" *ngFor="let comment of comments">
                <hr>
                <p>
                    {{ comment.body }}
                    <span class="comment-details">
                        <mat-divider vertical></mat-divider>{{ comment.username }} - {{ comment.createdDate | date: 'EEEE, MMMM d, y, HH:mm' }}
                    </span>
                </p>
            </div>
            <hr>
            <div class="add-comment-section">
                <mat-form-field appearance="fill">
                    <mat-label>Comment</mat-label>
                    <input matInput #comment placeholder="Add Comment..." nzBorderless />
                </mat-form-field>
                <div>
                    <button class="button" mat-raised-button color="primary" (click)="postCommentToQuestion(comment.value)">Add Comment</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="answers-card" style="margin-top: 30px;">
    <ng-container *ngIf="answers.length === 0; else answerList">
        <mat-icon>sentiment_dissatisfied</mat-icon>
        <p>No answers yet.</p>
    </ng-container>
    <ng-template #answerList>
        <h2>Answers</h2>
        <div class="answer-card" *ngFor="let answer of answers; let i = index;" >
            <div *ngIf="answer.approved" class="approved-icon">
                <mat-icon>check_circle</mat-icon>
            </div>
            <div>
                <h5>Answered By: <b>{{ answer.username }}</b> - Answered On: <b>{{ answer.createdDate | date: 'EEEE, MMMM d, y, HH:mm' }}</b></h5>
                <div class="vote-section">
                    <div class="arrow-icon"
                        (click)="addVoteToAnswer('UPVOTE', answer)"
                        [ngClass]="{'upvoted': answer.voted == '1'}">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </div>
                    <div class="vote-count">{{ answer.voteCount }}</div>
                    <div class="arrow-icon"
                        (click)="addVoteToAnswer('DOWNVOTE', answer)"
                        [ngClass]="{'downvoted': answer.voted == '-1'}">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                </div>
                <hr>
                <p>{{ answer.body }}</p>
                <div class="images-preview" *ngIf="answer.convertedImgs">
                    <img *ngFor="let img of answer.convertedImgs" [src]="img" alt="Answer Image">
                </div>
                <div class="comment-section" *ngFor="let comment of answer.commentDTOList">
                    <hr>
                    <p>
                        {{ comment.body }}
                        <span class="comment-details">
                            <mat-divider vertical></mat-divider>{{ comment.username }} - {{ comment.createdDate | date: 'EEEE, MMMM d, y, HH:mm' }}
                        </span>
                    </p>
                </div>
                <hr>
                <div class="add-comment-section">
                    <mat-form-field appearance="fill">
                        <mat-label>Comment</mat-label>
                        <input matInput #comment placeholder="Add Comment..." nzBorderless />
                    </mat-form-field>
                    <div>
                        <button class="button" mat-raised-button color="primary" (click)="postCommentToAnswer(answer.id, comment.value)">Add Comment</button>
                    </div>
                </div>
                <span *ngIf="!question.solved">
                    <hr>
                    <div>
                        <button mat-raised-button *ngIf="displayButton" color="accent" (click)="approveAnswer(answer.id)">Approve Answer</button>
                    </div>
                </span>
            </div>
        </div>
    </ng-template>
    
</div>

<div *ngIf="!question?.solved" class="answer-section" style="margin-top: 30px;">
    <div>
        <div>
            <h2>Post Answer</h2>
        </div>

        <form [formGroup]="validateForm" (ngSubmit)="addAnswer()">
            <div class="body">
                <mat-form-field appearance="fill">
                    <mat-label>Subject</mat-label>
                    <textarea matInput rows="2" placeholder="Solution..." formControlName="body"></textarea>
                </mat-form-field>
            </div>
            <div class="form-field">
                <div class="images-preview">
                    <img *ngFor="let file of selectedFiles" [src]="file.preview" alt="Image Preview">
                </div>
                <div class="button-group">
                    <button type="button" mat-raised-button (click)="fileInput.click()" color="accent">Choose File</button>
                    <input id="file" type="file" accept="image/png, image/jpeg" #fileInput hidden (change)="onFileSelected($event)" multiple>
                </div>
            </div>
            <div class="button-group">
                <button mat-raised-button color="primary">Post Answer</button>
            </div>
        </form>
    </div>
</div>


<div style="min-height: 91vh; padding: 30px;" *ngIf="similarQuestions">
    <div>
        <div class="container">
            <ng-container *ngIf="similarQuestions.length === 0; else similarQuestionList">
                <mat-card class="empty-message">
                    <mat-card-content>
                        <mat-icon>sentiment_dissatisfied</mat-icon>
                        <p>No similar questions found.</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>

            <ng-template #similarQuestionList>
                <h2>Similar Questions</h2>
                <div class="child" *ngFor="let question of similarQuestions">
                    <h2 class="question-title">
                        <a routerLink="/user/question/{{ question.id }}">
                            <div class="title-container">
                                <div *ngIf="question.solved" class="approved-icon">
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                {{ question.title }}
                            </div>
                        </a>
                    </h2>
                    <div class="question-content">
                        <p>{{ question.body }}</p>
                        <div class="tags-container">
                            <mat-chip-listbox>
                                <mat-chip color="primary" *ngFor="let tag of question.tags">{{ tag }}</mat-chip>
                            </mat-chip-listbox>
                        </div>
                        <hr>
                        <h5>
                            Votes: <b>{{ question.voteCount }}</b>
                             - Posted By: <b>{{ question.username }}</b>
                             - Posted On: <b>{{ question.createdDate | date: 'dd/MM/YYYY HH:mm'}}</b>
                        </h5>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
