.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.child {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    text-align: center;
    background-color: #f0f2f5;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.question-caption {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 13px;
}

.login-form-button {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .child {
        width: 100%;
    }
}


.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

img {
    max-width: 30%; // Adjust as needed
    height: 30%; // Adjust as needed
    object-fit: cover; // Ensures the image is properly scaled
}

// Additional styles for responsiveness
@media screen and (max-width: 600px) {
    .image-preview {
        justify-content: center; // Center images on smaller screens
    }

    img {
        max-width: 80px; // Smaller size on smaller screens
        max-height: 80px; // Smaller size on smaller screens
    }
}